@using System.Collections
@using System.Globalization
@using SpellList.Algorithm
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "满减列表";
    var index = 1;
}
<style>
    td {
        padding: 10px;
    }
</style>

<h1>@ViewData["Title"]</h1>
<table border="1">
    <tr>
        <td>序号</td>
        <td>商品</td>
        <td>总价</td>
        <td>其他</td>
    </tr>
    @foreach (Allocation data in (IEnumerable)ViewData["Calculate"])
    {

    <tr>
        <td>@index</td>
        <td style="color: #0ba72f;">@data.Combination</td>
        <td>@data.Count.ToString(CultureInfo.InvariantCulture)</td>
        @if (data.ExceptAllocations.Count > 0)
        {
        <td style="color: #0ba72f;">
            @foreach (Allocation childAllocation in data.ExceptAllocations)
            {
            <p>@childAllocation.Combination 总价：@childAllocation.Count；  <span style="color: #d05353;">缺失：@childAllocation.ExceptCombination</span></p>
            }
        </td>
        }
        else
        {
        <td style="color: #d05353;">@data.ExceptCombination</td>
        }
    </tr>

        index++;
    }
</table>